@font-face {
    font-family: 'Bender';
    src: url("img/bender-cufonfonts/Bender.otf");
}

@font-face {
    font-family: 'Bender-Light';
    src: url("img/bender-cufonfonts/Bender-Light.otf");
}

@font-face {
    font-family: 'Bender-Bold';
    src: url("img/bender-cufonfonts/Bender-Bold.otf");
}

*{
    margin:0;
    padding: 0;
}
html{
    background-color: black;
    background-image: url("img/BitcoinFarm.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
body{
    font-family: Bender;
    color: white;
    display: flex;
    flex-direction: column;
    color :#9a8866;
}
h1{
    margin-top: 0px;
    text-align: center;
    color:white;
    text-decoration: underline #9a8866;
    border-spacing: 3px;
}
label{
    font-family: Bender-Bold;
    padding-bottom: 50px;
    margin-top: 20px;
}
p{
    font-family: Bender-Bold;

}
h3{
    margin-top: 50px;
    color: white;
    text-decoration: underline #9a8866;
    text-decoration-style: solid;
}
.formu{
    margin-top: 70px;
    width:33%;
    text-align: center;
    padding-bottom: 5px;
    background-color: black;
    border-radius: 30px;
    opacity: 90%;
}
form{
    margin-top: 10px;
}
input,button{
    border-radius: 5px;
    border: none;
    font-family: Bender-Bold;

}
input{
    text-align: right;
    font-size: 16px;
}
button{
    transition-duration: 2s;

    height: 70px;
    width: 140px;
    font-size: 24px;
    margin-top: 50px;
}
button:hover{
    transition-duration: 2s;
    color: white;
    text-decoration: underline #9a8866;
    background-color: black;
    border: white;
    border-style: solid;
}
li, ul{
    list-style: none;
    font-family: Bender-Bold;
}

footer{
    background-color: black;
    opacity: 90%;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 40px;
    bottom:0;

}
footer li{
    display: inline-block;

}
footer li ul {
    display: inline-block;
    text-align: center;
}
footer a{
    transition-duration: 2s;
    text-decoration: none;
    color: #9a8866 ;
}
footer a:hover{
    transition-duration: 2s;
    color: white;
    text-decoration: underline #9a8866;
    background-color: black;
}
.container{
    text-align: center;
}
.container a{
    padding: 10px;
}
.container img{
    height: 55px;
    width: 90px;
}
.object{
    text-decoration: none;
    border: none;
    color: white;

}
.object img:hover{

    border-style: solid;
    border-color: white;
    border-radius:10px;

}
.lang img{
    border-style: solid;
    border-color: white;
    border-radius:10px;
}
@media screen and (max-width: 1000px){

    .formu{
        text-align: center;
        width: 100%;
    }
    footer{
        height: 70px;
    }
}

@media screen and (min-height: 1000px){
        p,h3,li,ul,form,label{
        font-size: 25px;
    }
    .formu{
        font-size: 25px;
    }

}